<nav class="navbar navbar-expand-sm topNav navbar-dark">
    <div class="container"><img class="img-fluid" src="/images/Ice_Cream.png" alt="" width="50px" height="50px"><a class="navbar-brand" href="/">YUM</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active font-weight-bold"><a class="nav-link" href="/sign-up">Sign Up</a></li>
          <li class="nav-item active font-weight-bold"><a class="nav-link" href="/login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>