{{#if success_msg}}
<div class="alert alert-success my-2" style="width: 250px;">{{success_msg}}<button class="close" data-dismiss="alert"><span>×</span></button></div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger my-2" style="width: 250px;">{{error_msg}}<button class="close" data-dismiss="alert"><span>×</span></button></div></div>
{{/if}}