<nav class="navbar navbar-expand-sm topNav navbar-dark">
    <div class="container"><img class="img-fluid" src="/images/Ice_Cream.png" alt="" width="50px" height="50px"><a class="navbar-brand" href="/">YUM</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav ml-2">
          <li class="nav-item active"><a class="nav-link" href="/blog">Blog</a></li>
          <li class="nav-item"><a class="nav-link" href="/post">Posts</a></li>
          <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/login">Log Out </a></li>
        </ul>
      </div>
    </div>
  </nav>