<nav class="navbar navbar-expand-sm topNav navbar-dark">
    <div class="container"><img class="img-fluid" src="/images/Ice_Cream.png" alt="" width="50px" height="50px"><a class="navbar-brand" href="/">YUM</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
          <li class="nav-item"><a class="nav-link" href="/post">Posts</a></li>
          <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-3"><a class="nav-link" href="#"><i class="fas fa-user"></i> Welcome {{username}}</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-user-times"></i>Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>