{{!--  --}}
{{#if layout1}}
<!DOCTYPE html>
<html lang="en">
{{> _head1}}

<body>
{{{body}}}
<script src="./js/app.js"></script>
</body>
</html>
{{/if}}

{{!--  --}}
{{#if layout2}}
<!DOCTYPE html>
<html lang="en">
{{> _head2}}
<body>
  {{> _navbar2}}
  {{> _msg}}
  {{{body}}}
  <footer class="text-center p-5" id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col"><img class="img-fluid" src="/images/Ice_Cream.png" alt="" width="50px" height="50px">
        <p class="text-white">Copyright © <span class="text-white" id="year"></span> YUM FASHION. All Rights Reserved</p>
      </div>
    </div>
  </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
  <script>
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    CKEDITOR.replace( 'editor1', {
     });
     CKEDITOR.config.autoParagraph = false;
     CKEDITOR.config.entities = false;
     CKEDITOR.config.basicEntities = false;
     CKEDITOR.config.fillEmptyBlocks = false;
     CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
     CKEDITOR.config.allowedContent = 'u em strong ul li;a[!href,target]';
     CKEDITOR.config.emailProtection = 'mt(NAME,DOMAIN,SUBJECT,BODY)';
    $('#year').text(new Date().getFullYear());
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
  </script>
</body>
</html>
{{/if}}

{{!--  --}}
{{#if login}}
<!DOCTYPE html>
<html lang="en">
{{> _loginHead}}
<body>
  {{> _loginNavbar}}
  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
  <script>
    $('#year').text(new Date().getFullYear());
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
  </script>  
  </body>
  </html>
{{/if}}

{{!--  --}}
{{#if layout3}}
<!DOCTYPE html>
<html lang="en">

{{> _head3}}
<body>
  {{> _navbar3}}
   {{{body}}}
  <footer class="text-center p-5" id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col"><img class="img-fluid" src="/images/Ice_Cream.png" alt="" width="50px" height="50px">
        <p class="text-white">Copyright © <span class="text-white" id="year"></span> YUM FASHION. All Rights Reserved By Goran Kortjie</p>
      </div>
    </div>
  </div>
  </footer>
  <script src="/js/app.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
  <script>
    $('#year').text(new Date().getFullYear());
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
  </script>
</body>
</html>
{{/if}}

