<div class="container-second">
    <div class="banner-on-login">
      <form class="sign-up-form" action="/login" method="post">
        <input class="form-input" name="email" type="text" placeholder="Email Address">
        <input class="form-input" name="password" type="password" placeholder="Password">
        <button type="submit">Log In</button><span id="control"></span>
      </form>
    </div>
  </div>