<div class="container-second">
    <div class="banner-on-login">
      {{> _msg}}
      <form class="sign-up-form" action="/login" method="post">
      {{#each errors}}
        <p class="text-warning text-wrap">{{text}}</p>
      {{/each}}
      {{> _errors}}
        <input class="form-input mt-3" name="email" type="email" placeholder="Email Address" value="{{email}}">
        <input class="form-input" name="password" type="password" placeholder="Password" value="{{password}}">
        <button type="submit">Log In</button><span id="control"></span>
      </form>
    </div>
  </div>