body {
  overflow-x: hidden;
}
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.topNav {
  background: #07070A;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background:linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('../images/clem-onojeg.jpg') no-repeat center;
  background-size: cover;
}

.carousel-image-2 {
  background:linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('../images/jc-gellidon.jpg') no-repeat center;
  background-size: cover;
}

.carousel-image-3 {
  background:linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('../images/woman.jpg') no-repeat center;
  background-size: cover;
  
}

#home-heading {
  position: relative;
  min-height: 500px;
  background: url('../images/brunel-john.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
}

#post-heading {
  border: 2px solid #07070A;
  border-radius: 20px;
  text-align: center;
  letter-spacing: 1px;
  background:linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .2)), url('../images/daniel-olah-pCcGpVsOHoo-unsplash.jpg') no-repeat center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#main-footer {
  font-size: 20px;
  background: url("../images/adam-birkett-YkXdt3429hc-unsplash.jpg") no-repeat center;
  background-size: auto;
}

#news-letter{
  background: rgba(0, 0, 0, 0.733);
}

#page-header {
  height: 350px;
  background: url("../images/malte-winge.jpg") no-repeat center;
  background-size: cover;
}
.card-text {
  padding-left: 5px;
}

.card-title {
  padding-left: 5px;
}

.text-muted {
  padding-left: 5px;
}

.edit-page-color {
  background-color: #EF959C;
}
@media(max-width: 500px){
  .blog-post-messages{
    order: 2;
  }
  .blog-pictures-right{
    order: 1;
  }
}